Main/MetaBuilder.WinUI/Web References/Metabuilder.co.za.Licencing/licencing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.metabuilder.co.za/Licencing/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.metabuilder.co.za/Licencing/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.metabuilder.co.za/Licencing/">
      <s:element name="LicenceUsage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userDomainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicenceUsageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenceUsageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LicenceUsageSoapIn">
    <wsdl:part name="parameters" element="tns:LicenceUsage" />
  </wsdl:message>
  <wsdl:message name="LicenceUsageSoapOut">
    <wsdl:part name="parameters" element="tns:LicenceUsageResponse" />
  </wsdl:message>
  <wsdl:message name="CheckVersionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckVersion" />
  </wsdl:message>
  <wsdl:message name="CheckVersionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="MetabuilderLicencingSoap">
    <wsdl:operation name="LicenceUsage">
      <wsdl:input message="tns:LicenceUsageSoapIn" />
      <wsdl:output message="tns:LicenceUsageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckVersion">
      <wsdl:input message="tns:CheckVersionSoapIn" />
      <wsdl:output message="tns:CheckVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MetabuilderLicencingSoap" type="tns:MetabuilderLicencingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LicenceUsage">
      <soap:operation soapAction="http://www.metabuilder.co.za/Licencing/LicenceUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVersion">
      <soap:operation soapAction="http://www.metabuilder.co.za/Licencing/CheckVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MetabuilderLicencingSoap12" type="tns:MetabuilderLicencingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LicenceUsage">
      <soap12:operation soapAction="http://www.metabuilder.co.za/Licencing/LicenceUsage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVersion">
      <soap12:operation soapAction="http://www.metabuilder.co.za/Licencing/CheckVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetabuilderLicencing">
    <wsdl:port name="MetabuilderLicencingSoap" binding="tns:MetabuilderLicencingSoap">
      <soap:address location="http://metabuilder.co.za/licencing/licencing.asmx" />
    </wsdl:port>
    <wsdl:port name="MetabuilderLicencingSoap12" binding="tns:MetabuilderLicencingSoap12">
      <soap12:address location="http://metabuilder.co.za/licencing/licencing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>